*{
    background-color: #e2c2c6;
}

h1{
    font-size:  3rem;
}

header{
    text-align: center;
    padding: 1rem;

}

body{
    text-align: justify;
    padding: 1rem;
}

button{
    /* visibility: hidden; */
    background-color: #610F7F;
    color: #fff;
    padding: 6px;
    border-radius: 15px;
}